.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-footer__wrap {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__text span {
  font-size: 36px;
  line-height: 36px;
}