.shop {
  float: right;
  width: 560px;
  font-size: 0;
}
.shop__sorting {
  .clearfix();
}
.shop__sorting-list {
  .list-reset();
  display: block;
  float: left;
  width: 400px;
}
.shop__sorting-list li {
  display: inline-block;
  vertical-align: top;
}
.shop__sorting a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #b2b2b2;
  transition: color .7s;
}
.shop__sorting span {
  display: block;
  float: left;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: uppercase;
}
.shop__sorting-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed #00ca74;
  cursor: pointer;
}
.shop__sorting-list a:hover::after {
  border-bottom: 1px solid #00ca74;
}
.shop__sorting-list a:hover {
  color: black;
  transition: color .3s;
}
.shop__sorting-item--active a {
  color: black;
  cursor: default;
}
.shop__sorting-item--active a::after,
.shop__sorting-item--active a:hover::after {
  border-bottom: none;
}
.shop__sorting-price {
  display: block;
  float: right;
}
.shop__sorting-price a {
  margin-right: 0;
}
.sort-icon--active {
  color: #00ca74;
  cursor: default;
}
.shop__list {
  font-size: 0;
  text-align: right;
}
.shop__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 80px;
  border-top: 30px solid #f1f1f1;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  transition: border-color .7s;
}
.shop__item::before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 16px 0 0 0 white,
              32px 0 0 0 white;
}
.shop__item:hover {
  border-color: #797979;
  transition: border-color .3s;
}
.shop__item:nth-child(2n) {
  margin-right: 0;
}