.features {
  padding-bottom: 81px;
  border-bottom: 2px solid #eeeeee;
}
.features__wrap {
  .wrap();
  .clearfix();
}
.features__block {
  float: left;
  width: 240px;
  margin-right: 80px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.features__image {
  width: 240px;
  height: 124px;
  margin-bottom: 23px;
}
.features__title {
  margin-bottom: 10px;
}
.features__text {
  margin-top: 13px;
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
}